<!DOCTYPE html>
<html>
    <head>
        <title>Ticket</title>
    </head>
    <body>
        <h1>Ticket</h1>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Resultats</th>
                    <th>Bets</th>
                    <th>Gain potentiel</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < tickets.length; i++) { %>
                    <tr>
                        <td><%= tickets[i].date%></td>
                        <td><%= tickets[i].result%></td>
                        <td><%= tickets[i].bet%></td>
                        <td><%= tickets[i].potentialGain%></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </body>
</html>